@charset "EUC-KR";
.Product_containerA{
	padding:20px 15px;
	
}
.Product_containerA img{
	padding:10px;
	width:200px;
	height:70px;
	
}
.Product{
	display:inline-block;
}


.salad_text{
	padding:15px 20px;
	background-color: #D8D8D8;
	border-radius: 10px;
	color: #ffffff;
	position: absolute;
	opacity:0.1;
	transition: all ease 0.5s;
}

.salad_image:hover{
	opacity:0.5;
}

.salad_image:hover .salad_text{
	opacity:1;
	color: #ff0000;
}

