@charset "EUC-KR";
.Product_containerA{
	padding:20px 15px;
}
.Product_containerA img{
	padding:10px;
	width:200px;
	height:70px;
	
}



#banana_text{
	padding:15px 20px;
	background-color: #D8D8D8;
	border-radius: 10px;
	color: #ffffff;
	position: absolute;
	opacity:0;
	transition: all 0.1s ease 0.1s;
}
#banana_image:hover{
	opacity:0.5;
}
#banana_image:hover + #banana_text{
	opacity:1;
}