@charset "EUC-KR";
.Product_containerA{
	padding:20px 15px;
	
}
.Product_containerA img{
	padding:10px;
	width:200px;
	height:70px;
	
}
.Product{
	display:inline-block;
}


.salad_text{
	padding:15px 20px;
	background-color: #ff0000;
	border-radius: 10px;
	color: #ffffff;
	position: absolute;
	opacity:0;
	
	
}


